<!-- Modal -->
<div class="modal fade" id="c2cTermsModal" tabindex="-1" role="dialog" aria-labelledby="Te llamamos" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-header">{{ "GRAV.C2C.PRIVACY.TITLE_DETAIL" | t | raw}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="icon icon-icon_close_thin text-white"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ "GRAV.C2C.PRIVACY.CONTENT" | t | raw}}</p>
      </div>
    </div>
  </div>
</div>