//
// Colors
//
$color-brand: #E10A0A;
$color-dark: #000000;
$color-dark-mid: #2d2d2d;
$color-light: #ffffff;

//
// Boxes
//
$box-shadow-gen: 0 2px 10px rgba($color-dark, 0.2);
$border-gen: 3px solid $color-dark-mid;


// -------------------- IMPORTED FROM VIRGIN ---------------------------------
// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Typography
//
$font-family-roboto:          'Roboto', sans-serif;
$font-family-montserrat:      'Montserrat', sans-serif;
$font-family-sans-serif:      Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-roboto;
//
//Header
$headers-font-family: $font-family-montserrat;
//
// Mini header
$mini-header-font-size: .8rem;
$mini-header-line-height: 1.3;
$mini-header-font-weight: normal !important;

// Custom colors
//
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
//added
$hero-section-bg-color: #fafafa;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:      #0097d7;
$dark-blue: #1D1F2C;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #e83e8c;
$red:       #e10a0a;
$orange:    #fd7e14;
$yellow:    #ffc107;
$green:     #28a745;
$teal:      #20c997;
$cyan:      #17a2b8;
$magenta:   #db0080;


$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "dark-blue":  $dark-blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "magenta":    $magenta,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $red;
$secondary:     $dark-blue;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $magenta,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Custom breakpoints
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1920px,
);

// Spacers
//
$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),    //4px
    2: ($spacer * .5),     //8px
    3: $spacer,            //16px
    4: ($spacer * 1.5),    //24px
    5: ($spacer * 3),      //48px
    6: ($spacer * 4),      //64px
    7: ($spacer * 5),      //80px
    8: ($spacer * 6.25),   //100px
    9: ($spacer * 7.5),    //120px
    10: ($spacer * 9.375)  //150px
  ),
  $spacers
);

// Buttons
$btn-border-radius: 2rem;
$btn-padding-x:     30px;
$btn-padding-y:     10px;


// Enable responsibe font-size
//
$enable-responsive-font-sizes: true;




// Boxes
//
$box-shadow-gen: 2px 0 20px rgba(0,0,0,0.1);
$border-radius-gen: 5px;