//
// Blog item
//
.blog-content-item {
    max-width: 960px;
    margin: 1rem auto;
    
    #sidebar {
        display: none;
    }
    
    .list-blog-header {
        display: none;
    }
}

//
// Image block
//
.post-image {
    &+p {
        text-align: center;
    }
    
    &+p img {
        border: 3px solid #121212;
        box-shadow: 0 2px 10px rgba(#000000, 0.2);
        width: 100%;
        margin: 2rem auto;
    }

    &.img-redux {
        &+p img {
            max-width: 600px;
        }
    }
}

//
// Featured text
//
.featured-text {
    display: block;
    width: 100%;
    text-align: left;
    background: #ffffff;
    padding: 1rem;
    border-left: 3px solid $color-brand;
    box-shadow: 0 2px 10px rgba($color-dark-mid, 0.2);
}

.blog-grid .row.blog-item {
    margin-top: 65px;
    margin-bottom: 65px;
}

.blog-item {
    .post-loop-number {
        color: $primary;
        font-size: 3.5rem;
        font-weight: bold;
    }

    .post-date-container {
        font-size: .8rem;
    }
    
    .plus-column .icon {
        color: $primary;
        font-size: 2.5rem;
        transform: rotate(45deg);
    }

    .p-name a {
        color: $white!important;
        font-weight: bold;
    }

    .e-content {
        color: #1D1F2C;
    }
}

