@import "../variables";

#sb-site {
    min-height: initial!important;
}


.blog-main-header {
    min-height: 320px;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    // box-shadow: $box-shadow-gen;
    .text-header {
        font-weight: 700;
    }
}


/******************/
