@import "../variables";

#footer {
    background-color: $color-brand;
    height: auto;
    color: #fff;
    padding: 20px 5px;
    border-top: 5px solid darken($color-brand, 10);

    p {
        margin: 0;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
}