.most-visited {
  .post-loop-number {
    font-family: $headers-font-family;
    color: $secondary;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: -1px 0 $primary, 0 1px $primary, 1px 0 $primary, 0 -1px $primary;
  }

  .post-image-background {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height:120px;
  }

  .post-date-container {
      font-size: .9rem;
  }

  .plus-column .icon {
      color: $primary;
      font-size: 2.5rem;
      transform: rotate(45deg);
      display: block;
  }

  .p-name a {
      color: $white!important;
      font-weight: bold;
  }
  .right-block {
    border-bottom: 1px solid #919191;
  }
}