{% embed 'partials/base.html.twig' %}

	{% block content %}
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}

		{% set blog_image = page.media.images|first.contrast(20).brightness(-100).colorize(-35,81,122) %}

		{# {% if blog_image %} #}
		{# <div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
		</div> #}
		{# {% endif %} #}

		{% include 'partials/blog_item_single.html.twig' with {'blog':page.parent, 'truncate':false} %}

		{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
			{% include 'partials/relatedpages.html.twig' %}
		{% endif %}

		{# {% include 'partials/related_posts.html.twig' with {'blog':page.parent, 'truncate':false} %} #}

	{% endblock %}

{% endembed %}
