@import "../variables";

#footer {
    background-color: $brand-color;
    height: auto;
    color: #fff;
    padding: 10px 5px;

    p {
        margin: 0;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }
}