//
// Buttons
//
.button {
    background: #E10A0A;
    color: #ffffff !important;
    border: 1px solid #E10A0A;
    border-radius: 8px;
    transition: all ease-out .2s;
    
    &:hover {
        background: darken(#E10A0A, 10);
        color: #ffffff !important;
    }
}


.prev-next {
    .button {
        .fa-chevron-right {
            margin-left: 8px;
        }
        .fa-chevron-left {
            margin-right: 8px;
        }
    }
}