//
// Colors
//
$color-brand: #E10A0A;
$color-dark: #000000;
$color-dark-mid: #2d2d2d;
$color-light: #ffffff;

//
// Boxes
//
$box-shadow-gen: 0 2px 10px rgba($color-dark, 0.2);
$border-gen: 3px solid $color-dark-mid;