//
// General
//
body {
}

html,
body {
    height: auto !important;
}

#body {
    height: 100% !important;
    background-color: $secondary !important;
    // padding-left: 0;
    // padding-right: 0;
    // padding-top: 80px;
}

#sb-site {
    background-repeat: repeat !important;
    background-size: 25px !important;
}

//
// Blog grid
//
.content-wrapper {
    &.blog-content-list {
        &.grid {
            max-width: 960px;
            margin: 0 auto;
        }
    }

    // Sidebar
    #sidebar {
        &.block.size-1-3.pure-u-1-3 {
            display: none;
        }
    }
}

//
// Hero page
//
.hero-page {
    #body {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
}