@import "../variables";

//
// Links
//
a {
    color: $color-brand !important;

    &:hover {
        color: $color-brand !important;
        text-decoration: none !important;
    }
}


//
// General
//
h1, h2, h3, h4, h5, h6 {
    text-align: left !important;
    margin-bottom: 1rem !important;
    font-family: $headers-font-family;
    letter-spacing: 0px;
}

.text-header {
    font-family: $headers-font-family;
    font-weight: bold;
}

.mini-header {
    color: $primary;
    font-weight: 400!important;
    font-size: .8rem;
    line-height: 1.3;
}

//
// Blog content
//
.blog-content-list {
    .p-name {
        font-weight: 600;
    }
}